.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  width: 500%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  position: relative;
  width: 20%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease-in-out;
}

.carousel-prev:hover,
.carousel-next:hover {
  color: #ccc;
}

.carousel-prev {
  left: 20px;
}

.carousel-next {
  right: 20px;
}
